/* general color */
body, .app-page-header > * {
    background: #eaeaea;
}
.star:after {
    color: #e1e1e1;
}
.detailStar:after{
    color: #e1e1e1;
}
/*订单详情页*/
.order-detail .order-state-wrap ul:before{
    background: #e1e1e1;
}
.order-detail .order-state-wrap ul li:first-child:before{
    border: 0.2rem solid #ffc89d;
}
 .order-detail .order-state-wrap ul li:before{
     background-color: #e1e1e1;
 }
/*添加评价页*/
.addComment-content .addComment-info-content textarea::-webkit-input-placeholder {
    color: #9e9e9e;
}
*[data-widget^="widget_"] .widget_footer ul{
    border-top: 1px solid #e1e1e1;
}
*[data-widget^="widget_"] .widget_footer ul li{
    border-right: 1px solid #e1e1e1;
}
*[data-widget^="widget_"] .widget_wrap{
    background-color: #fff;
}
*[data-widget="widget_alert"] .widget_body, 
*[data-widget="widget_confirm"] .widget_body, 
*[data-widget="widget_tip"] .widget_body{
    color: #000;
}
*[data-widget="widget_loading"] .widget_wrap{
    background-color: transparent;
}
.style-orderCancel,
.style-orderCancel *{
    color: #c5ccd2 !important;
}
.style-orderCancel .ord-btn a{
    border: 1px solid #c5ccd2 !important;
}
.style-orderCancel .h-info{
    border-bottom:1px dotted #c5ccd2 !important;
}
.style-orderCancel2,
.style-orderCancel2 *{
    color: #c5ccd2 !important;
}
.style-orderCancel2 .ord-btn a{
    border: 1px solid #c5ccd2 !important;
}
.style-orderCancel2 .h-info{
    border-bottom:1px dotted #c5ccd2 !important;
}
/* special style */
.calendar-content .calendar-body .start,
.calendar-content .calendar-body .end{
    color: #fff;
}
.calendar-content .calendar-body .disabled{
    color:#e1e1e1;
}
.calendar-content .calendar-body .on{
    background-color: #fff1e6;
}
/* background */
.bg-nav{
    background-color: #fff;
}
.bg-subNav{
    background-color: #f8f8f8;
}
.bg-mainList{
    background: #fff;
}
.bg-noImg{
    background-color: #e1e1e1;
}
.bg-generalPage{
    background-color: #fff;
}
.bg-splitDot:before,
.bg-splitDot:after{
    background: #eaeaea;
}
.bg-ico{
    background-color: #fff;
}
.bg-bottomlayer{
    background-color: #f8f8f8;
}
.bg-orderBtn{
    background-color: #e1e1e1;
}
.bg-mask{
    background-color: rgba(0,0,0,.5);
}
.bg-floatLayer{
    background-color: #fff;
}
.bg-card{
    background-color: #fff;
}
.bg-mask2{
    background-color: rgba(0,0,0,.5);
}
.bg-card2{
    background-color: #f8f8f8;
}
.bg-card3{
    background-color: #fff;
}
.bg-btnDisabled{
    background-color: #e1e1e1 !important;
}
.bg-orderSub{
    background-color: #f8f8f8;
}
.bg-textarea{
    background-color: #f8f8f8;
}
.bg-layer{
    background-color: #fff;
}
.bg-search{
    background-color: #fff;
}
.bg-area1{
    background-color: #f8f8f8;
}
.bg-area2{
    background-color: #fcfcfc;
}
.bg-area3{
    background-color: #fff;
}
.bg-downloadLayer{
    background-color: #fff;
}
/* text color */
.text-nav,
.text-mainListTitle{
    color: #000;
}
.text-mainListWord{
    color: #9e9e9e;
}
.text-subNav{
    color: #616161;
}
.text-detailListWord,
.text-arrowDown1{
    color: #9e9e9e;
}
.text-arrowDown2{
    color: #e1e1e1;
}
.text-price{
    color: #ff7508;
}
.text-price2{
    color: #ff7508;
}
.text-noImg{
    color: #616161;
}
.text-appHeader{
    color: #000;
}
.text-icoWord{
    color: #9e9e9e;
}
.text-icoWord2{
    color: #616161;
}
.text-ico{
    color:#ff7508;
}
.text-tips{
    color: #9e9e9e;
}
.text-tips2{
    color: #9e9e9e;
}
.text-placeholder{
    color: #9e9e9e;
}
.text-bottomLayerWord{
    color: #9e9e9e !important;
}
.text-bottomLayerSubWord{
    color: #9e9e9e;
}
.text-orderBtn{
    color: #616161;
}
.text-floatLayer{
    color: #616161;
}
.text-time{
    color: #9e9e9e;
}
.text-time2{
    color: #9e9e9e;
}
.text-timeName{
    color: #616161;
}
.text-comment{
    color: #616161;
}
.text-noData{
    color: #9e9e9e;
}
.text-icoFacility{
    color: #000;
}
.text-label{
    color: #9e9e9e;
}
.text-listLabel{
    color: #9e9e9e;
}
.text-copyright{
    color: #eee;
}
.text-header{
    color: #616161;
}
.text-orderPriceTip{
    color: #a6aab3;
}
.text-orderPriceTip2{
    color: #9e9e9e;
}
.text-orderRoomName{
    color: #a8abb6;
}
.text-split{
    color: #e1e1e1;
}
.text-starDisabled{
    color: #e1e1e1;
}
.text-area{
    color: #616161;
}
.text-orderOption1{
    color: #9e9e9e;
}
.text-orderOption2{
    color: #9e9e9e;
}
.text-priceLabel{
    color:#9e9e9e !important;
}
/* border color */
.border-mainList{
    border-color: #e1e1e1;
}
.border-nav{
    border-color: #e1e1e1;
}
.border-mainListPrice{
    border-color: #9e9e9e;
}
.border-noImg{
    border-color:#f8f8f8;
}
.border-imgWarp{
    border-color: #f8f8f8;
}
.border-ico{
    border-color:#ff7508;
}
.border-checkico{
    border-color: #9e9e9e;
}
.border-checkico2{
    border-color: #e1e1e1;
}
.border-detailNoImg{
    border-color:#f8f8f8;
}
.border-detailDotted{
    border-color: #e1e1e1;
}
.border-bottomlayer{
    border-color: #e1e1e1;
}
.border-floatLayer{
    border-color: #e1e1e1;
}
.border-navBottom{
    border-color: #e1e1e1;
}
.border-floatLayer2{
    border-color: #e1e1e1;
}
.border-split{
    border-color: #eaeaea;
}
.border-split2{
   border-color: transparent; 
}
.border-split3{
    border-color: #e1e1e1;
}
.border-split4{
    border-color: #e1e1e1;
}
.border-split5{
    border-color: #e1e1e1;
}
.border-split6{
    border-color: #e1e1e1;
}
.border-city{
    border-color: #000;
}
.border-list{
    border-color: #e1e1e1;
}
.border-list2{
    border-color:#eee;
}
.border-list3{
    border-color: #e1e1e1;
}
.border-downloadLayer{
    border-color: #e1e1e1;
}

/* image url */
/*我的订单没有数据*/
/*.image-emptyOrderList{
    background-image: url(../../assets/images/wddd_icon_wudingdan_day.png);
}*/
/*酒店收藏没有数据*/
/*.image-emptyHotelCollectionList{
    background-image: url(../../assets/images/scjd_icon_day.png);
}*/
/*酒店评价没有数据*/
/*.image-emptyHotelCommentList{
    background-image: url(../../assets/images/pj_icon_day.png);
}*/
/*首页搜索没有数据*/
/*.image-emptyIndexSearchList{
    background-image: url(../../assets/images/ss_icon_day.png);
}*/
/*城市搜索没有数据*/
/*.image-emptyCitySearchList{
    background-image: url(../../assets/images/csxz_icon_day.png);
}*/
